.page-header {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    color: blueviolet;
  }
  .text-button{
    font-size: .8em;
    font-family: monospace;
    padding: 10px;
  }
  .form-wrapper{
    background-color: white;
    padding: 20px 10px;
    width: 40%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    border-radius: 8px;
  }
   label {
    margin: 10px;
    color: grayscale;
    font-weight: 500;
    font-size: .8em;
    text-transform: capitalize;
  }
  input, .register-button {
    margin: 8px;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 8px 5px;
    border: 1.5px solid gray;
    border-radius: 5px;
  }
  
  .login-button, .register-button {
    width: 80%;
    padding: 8px 0;
    background-color: blueviolet;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
  }
   input[type="button"]:hover{
    opacity: .6;
    cursor:grabbing;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .chat-dashboard{
    display: flex;
  }
  